/* YOUR CUSTOM STYLES */
/*.background {*/
    /*background-color: #4FC3F7 ;*/
/*}*/

.div-inline{
    display:inline-block;
}

.dropdown-menu {width: 100%;}

.dropdown-toggle {width: 100%;}

.card-center {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-clickable:hover {
    cursor:pointer;
}

label.centered {
    font-size: 25px;
    padding-right: 20px;
    vertical-align: middle;
    margin-bottom: 0;
}

html, body {
    max-height:100%;
    max-width: 100%;
    overflow:hidden;
}